.uppercase {
    text-transform: uppercase;
}

.cell {
    display: flex;
}

.column1 {
    padding: 10px;
    box-sizing: border-box;
    border: 0.5px dotted #fff;
}

.column {
    padding: 10px;
    box-sizing: border-box;
    border: 0.5px dotted #fff;
}

.bg-table {
    background: #395067;
    background: -webkit-linear-gradient(to bottom, #4CA1AF, #395067);
    background: linear-gradient(to bottom, #4CA1AF, #395067);
}

@media screen and (max-width: 550px) {
    .column {
        font-size: 10px;
    }
}